<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.6, maximum-scale=1.6">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asset Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Asset Management System</h1>
</header>
<div id="app">
    <table id="assetsTable" class="table table-bordered">
        <button v-if="isAuthenticated" @click="logout" class="btn-logout">Logout</button>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>State</th>
                <th>Cost</th>
                <th>Responsible Person</th>
                <th>Additional Information</th>
                <th v-if="isAuthenticated && currentRole === 'admin'">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="isAuthenticated && currentRole === 'admin'">
                <td><input  v-model="newAsset.number" placeholder="Number"></td>
                <td><input v-model="newAsset.name" placeholder="Name"></td>
                <td>
                    <select v-model="newAsset.state">
                        <option value="New">New</option>
                        <option value="Used">Used</option>
                    </select>
                </td>
                <td><input v-model="newAsset.cost" placeholder="Cost"></td>
                <td><input v-model="newAsset.responsible_person" placeholder="Responsible Person"></td>
                <td><input v-model="newAsset.additional_information" placeholder="Additional Information"></td>
                <td><button @click="addAsset">Add Asset</button></td>
            </tr>
            <tr v-for="asset in assets" :key="asset.id">
                <td>
                    <button @click="moveRow(asset, -1)" class="arrow-button">▲</button>
                    <button @click="moveRow(asset, 1)" class="arrow-button">▼</button>
                    <span v-if="isEditing && editingAsset.id === asset.id">
                        <input v-model="editingAsset.number">
                    </span>
                    <span v-else>
                        {{ asset.number }}
                    </span>
                </td>
                <td>
                    <span v-if="isEditing && editingAsset.id === asset.id">
                        <input v-model="editingAsset.name">
                    </span>
                    <span v-else>
                        {{ asset.name }}
                    </span>
                </td>
                <td>
                    <span v-if="isEditing && editingAsset.id === asset.id">
                        <input v-model="editingAsset.state">
                    </span>
                    <span v-else>
                        {{ asset.state }}
                    </span>
                </td>
                <td>
                    <span v-if="isEditing && editingAsset.id === asset.id">
                        <input v-model="editingAsset.cost">
                    </span>
                    <span v-else>
                        {{ asset.cost }}
                    </span>
                </td>
                <td>
                    <span v-if="isEditing && editingAsset.id === asset.id">
                        <input v-model="editingAsset.responsible_person">
                    </span>
                    <span v-else>
                        {{ asset.responsible_person }}
                    </span>
                </td>
                <td>
                    <span v-if="isEditing && editingAsset.id === asset.id">
                        <input v-model="editingAsset.additional_information">
                    </span>
                    <span v-else>
                        {{ asset.additional_information }}
                    </span>
                </td>
                <td v-if="isAuthenticated && currentRole === 'admin'">
                    <button @click="isEditing ? saveEdit(asset) : editAsset(asset)">
                        {{ isEditing && editingAsset.id === asset.id ? 'Save' : 'Edit' }}
                    </button>
                    <button @click="deleteAsset(asset.id)">Delete</button>
                    <button v-if="isEditing && editingAsset.id === asset.id" @click="cancelEdit()">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="assetInfoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ assetInModal.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Number: {{ assetInModal.number }}</p>
                <p>Name: {{ assetInModal.name }}</p>
                <p>State: {{ assetInModal.state }}</p>
                <p>Cost: {{ assetInModal.cost }}</p>
                <p>Responsible Person: {{ assetInModal.responsible_person }}</p>
                <p>Additional Information: {{ assetInModal.additional_information }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3.2.0/dist/vue.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="rest-client.js"></script>
</body>
</html>

<!-- Вся информация почти была взята из интернета, под основу был взят мой проект, который мы делали https://github.com/artjomrozhkov/games-api.
Понятное дело с какой то частью кода мне помогал ChatGPT, но не весь код был написан через него.
По сути тут 75% кода точно сделано с помощью проекта на GitHub -->


